---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Truth from "../components/Truth.astro";
import WhatsInside from "../components/WhatsInside.astro";
import Differentiators from "../components/Differentiators.astro";
import WhoFor from "../components/WhoFor.astro";
import Bonuses from "../components/Bonuses.astro";
import Pricing from "../components/Pricing.astro";
import Guarantee from "../components/Guarantee.astro";
import Testimonials from "../components/Testimonials.astro";
import LeadMagnet from "../components/LeadMagnet.astro";
import FAQ from "../components/FAQ.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---
<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Problem />
    <Truth />
    <WhatsInside />
    <Differentiators />
    <WhoFor />
    <Bonuses />
    <Pricing />
    <Guarantee />
    <Testimonials />
    <LeadMagnet />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
